@model IEnumerable<CourseUdemyNetMvc.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Products List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i> New Product
            </a>
        </div>
    </div>
    
    @if (Model.Any())
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <caption>This table describes the products</caption>
            <thead>
            <tr>
                <th id="idTitleProductName">Product name</th>
                <th id="idTitleProductShortDescription">Short Description</th>
                <th id="idTitleProductLongDescription">Long Description</th>
                <th id="idTitleProductPrice">Price</th>
                <th id="idTitleProductImagenUrl">Imagen Url</th>
                <th id="idTitleProductCategory">Category</th>
                <th id="idTitleProductApplicationType">Application Type</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th id="idRowProductName" style="width: 15%">@item.ProductName</th>
                    <th id="idRowProductShortDescription" style="width: 10%">@item.ShortDescription</th>
                    <th id="idRowProductLongDescription" class="text-center" style="width: 15%">@item.LongDescription</th>
                    <th id="idRowProductPrice" class="text-center" style="width: 10%">@item.Price</th>
                    <th id="idRowProductImagenUrl" class="text-center" style="width: 10%">@item.ImagenUrl</th>
                    <th id="idRowProductCategory" class="text-center" style="width: 10%">@item.Category!.CategoryName</th>
                    <th id="idRowProductApplicationType" class="text-center" style="width: 10%">@item.ApplicationType!.Name</th>
                    <th id="idRowOptions" class="text-center" style="width: 20%">
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Product" asp-action="Upsert" asp-route-Id="@item.ProductId" class="btn btn-warning mx-2">
                                <i class="fa-solid fa-pen-to-square"></i> Update
                            </a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-Id="@item.ProductId" class="btn btn-danger mx-2">
                                <i class="fa-solid fa-trash"></i> Delete
                            </a>
                        </div>
                    </th>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No registers from category</p>
    }
</div>